@using HelloWorld.model.HelloWorld
@model ResponseViewModel
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
    </head>
    <body>
        AppName = @Model.AppName
    </body>
</html>
